body {
  font-family: Georgia, sans-serif;
  background: #e0f7fa;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  margin-top: 10px;
  background: #eee;
  border-radius: 4px;
}

button {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px
  transition background-color 0.3 ease;
}

button:hover {
   background-color: #0b7dda; 
}
